<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
            <img src="/images/logo-mercado-liebre.svg" alt="esto es el logo">
            <p>Lugar para poner la barra</p>
            <p>Compra en cuotas y con tarjeta de credito</p>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <p></p>
                <li>Crea tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
    </header>
    <main>
        <h1>Basado en tu ultima busqueda</h1>
            
                <img src="/images/img-cafetera-moulinex.jpg">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>

                <img src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>

                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>

    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>